<div class="mail_menu mobile_menu_show">
    <div class="mail_menu_button" ui-sref="mail.new({recipient: $ctrl.email.sender, subject:$ctrl.email.subject})">
        <img src="resourses/icons/respond.svg">
        <div>respond</div>
    </div>
    <div class="mail_menu_button" ng-click="$ctrl.getAllCheck()">
        <img src="resourses/icons/deleted_mail.svg">
        <div>delete</div>
    </div>
</div>
<div>
    <div id="open_mail" ng-if="$ctrl.email">
        <div class="menu_open_mail">
            <div id="sender_open_mail">
                <span class="spender_email_circle">{{$ctrl.email.sender.charAt(0)}}</span>
                <div>{{$ctrl.email.sender}}</div>
            </div>
            <div id="date_open_mail">{{$ctrl.email.dateTime | emailDateFilter}}</div>
        </div>
        <div class="menu_open_mail">
            <div id="subject_open_mail">Subject: <span>{{$ctrl.email.subject}}</span></div>
        </div>
        <div id="body_open_mail">{{$ctrl.email.text}}</div>
    </div>
    <div ng-if="!$ctrl.email" class="bubblingG">
        <span id="bubblingG_1">
	</span>
        <span id="bubblingG_2">
	</span>
        <span id="bubblingG_3">
	</span>
    </div>
</div>