#header_personal {
    text-align: left;
}

.form_auth .body_personal {
    color: #0a392e;
    font-size: 20px;
}

.form_auth .body_personal span {
    font-weight: bold;
}

.form_auth input, .button_short {
    margin-top: 57px;
}

.personal_area {
    width: 1140px;
    margin: 53px auto;
    height: 212px;
    padding: 20px;
}
