<div>
    <div class="mail_menu mobile_menu_show">
        <div class="mail_menu_button" ng-click="$ctrl.sendMail()">
            <img src="resourses/icons/respond.svg">
            <div>send</div>
        </div>
        <div class="mail_menu_button">
            <img src="resourses/icons/new_mail.svg">
            <div>save as draft</div>
        </div>
    </div>
    <div id="new_mail_form">
        <input-complete-component placeholder="'To'" value="$ctrl.recipient" error="$ctrl.errorRecipient" type="'text'" auto-complete-options="$ctrl.autoCompleteOptions">
            <span class="spender_email_circle">{{$ctrl.recipient.charAt(0)}}</span>
        </input-complete-component></br>
        <input-component placeholder="'Subject'" value="$ctrl.subject" error="$ctrl.errorSubject" type="'text'"></input-component></br>
        <textarea placeholder="Text" class="form_field" ng-model="$ctrl.text"></textarea>
    </div>
</div>