
@media (min-width: 768px) and (max-width: 1139px) {
    #text_table {
        padding-top: 12px;
    }
}

#mail_table {
    width: 98%;
    margin: 15px 10px;
}

#mail_table td {
    padding: 0px 5px;
    height: 35px;
}

#mail_table .date_table {
    padding: 7px 5px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    #mail_table td {
        height: 45px;
    }
}

#mail_table tr {
    border-bottom: solid 1px #d5d5d5;
}

@media (min-width: 320px) and (max-width: 767px) {
    #mail_table tr {
        font-size: 15px;
    }
}

.checkbox_mail {
    width: 3%;
}

.checkbox_mail_menu {
    margin-right: 70px !important;
    margin-top: 4px;
}

@media (min-width: 1024px) and (max-width: 1139px) {
    .checkbox_mail_menu {
        margin-right: 65px !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .checkbox_mail {
        width: 5%;
    }
}

.sender_table {
    width: 143px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.text_table_cut{
    width: 100%;
}

.text_table {
    display: flex;
    justify-content: flex-start;
    width: 536px;
    cursor: pointer;
    align-items: center;
}

@media (min-width: 1024px) and (max-width: 1139px) {
    .text_table {
        width: 429px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .text_table {
        flex-direction: column;
        width: 251px;
    }
    .sender_table {
        width: 130px;
    }
}

.date_table {
    width: 10%;
    font-size: 11pt;
    text-align: right;
    padding: 7px 0px;
}

@media (min-width: 1024px) and (max-width: 1139px) {
    .date_table {
        width: 12%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .date_table {
        width: 16%;
    }
}

.text_table span{
    align-self: center;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .text_table span{
        align-self: flex-start;
    }
}

.spender_email_circle {
    color: #FFFFFF;
    background-color: #eb7d16;
    line-height: 25px;
    height: 28px;
    width: 28px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    font-size: 19px;
    margin-top: 4px;
}

#mobile_table_mail {
    display: none;
}

#add_mails_table_mobile {
    display: none;
}

@media (min-width: 320px) and (max-width: 767px) {
    #mobile_table_mail {
        display: flex;
        flex-direction: column;
        font-size: 16px;
    }
    .desktop_table_mail {
        display: none;
    }
    .body_mobile_table {
        display: flex;
        flex-direction: column;
        width: 83%;
    }
    .mobile_table {
        display: flex;
        width: 100%;
        border-bottom: 1px solid #cdcccc;
    }
    .sender_data_mobile {
        display: flex;
        justify-content: space-between;
    }
    .checkbox_mobile_table {
        margin-right: 10px;
        align-self: center;
    }
    .mail_menu {
        display: none !important;
    }
    .text_mobile_table {
        width: 100%;
    }

    #add_mails_table_mobile {
        display: block;
    }

    #add_mails_table_mobile input{
        width: 100%;
        height: 38px;
        margin: 8px 0px;
        color: #fafafa;
        cursor: pointer;
        background-color: #00af80;
        border: none;
        transition: background-color 0.5s;
        border-radius: 5px;
    }

    #add_mails_table_mobile input:hover {
        background-color: #00936c;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .mobile_menu_show {
        display: flex !important;
        margin-bottom: 10px;
    }
}

.subject_table {
    padding-right: 5px;
    font-weight: bold;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .subject_table {
        width: 100%;
    }
}

#mail_table_no_mail {
    font-size: 23px;
    color: #6a6a6a;
    text-align: center;
    margin: 40px 15px;
}
.highlight_all_mail_flag_checkbox_icon {
    width: 7px;
    height: 32px;
    display: block;
    border-bottom: 3px solid #6a6666;
    border-right: 2px solid #6a6666;
    transform: skewX(27deg) rotate(47deg) scale(0.85);
    margin: -17px 0px 0px 5px;
}

.highlight_all_mail_flag_checkbox_with_bottom {
    bottom: -10px;
}

.highlight_all_mail_flag_checkbox {
    width: 15px;
    height: 15px;
    border: 1px solid #d5d2d2;
    box-shadow: inset #4f4d4d;
    cursor: pointer;
    display: block;
    border-radius: 3px;
    margin: auto;
    position: relative;
}

@media (min-width: 320px) and (max-width: 767px) {
    .highlight_all_mail_flag_checkbox {
        width: 15px;
        height: 15px;
        border: 1px solid #d5d2d2;
        box-shadow: inset #4f4d4d;
        cursor: pointer;
        display: block;
        border-radius: 3px;
        margin: auto;
        position: initial;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .highlight_all_mail_flag_checkbox_with_bottom {
        bottom: -16px;
    }
}

table input {
    position: relative;
    display: none;
}

.date_mobile_table {
    font-size: 11pt;
}

.sender_mobile_table {
    width: 70%;
}

.mail_table_tr {
    display: flex;
}

.sender_table_sender {
    font-weight: bold;
}

.read_mail {
    font-weight: normal;
}

.cut_text {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 24px;
    white-space: nowrap;
}

.checkbox_mobile_table input {
    position: relative;
    display: none;
}

.mail_table_tr_box:hover {
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 0px 0px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
}

.mobile_table:hover {
    box-shadow: inset 0px 0 0 #ffffff, inset 0px 0 0 #ffffff, 0 0px 0px 0 rgba(60,64,67,.3), 0 0px 3px 0px rgba(60,64,67,.15);
}

.important_mail_flag_checkbox_icon {
    margin-top: 4px;
    height: 15px;
    width: 15px;
    cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .important_mail_flag_checkbox_icon {
        margin-top: 10px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .important_mail_flag_checkbox_icon {
        margin-top: -11px;
    }
}

.mail_table_tr_menu {
    display: flex;
    height: 30px !important;
    padding: 0px 0px 0px 5px;
}

.mail_table_tr_menu th{
    font-weight: normal !important;
}

.recipient_table_menu {
    margin-right: 72px;
}

.sender_table_menu {
    margin-right: 90px;
}

.text_table_menu {
    margin-right: 548px;
}

@media (min-width: 1024px) and (max-width: 1139px) {
    .text_table_menu {
        margin-right: 440px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .text_table_menu {
        margin-right: 257px;
    }
    .checkbox_mail_menu {
        margin-right: 73px !important;
        margin-top: 4px;
        margin-left: 1px;
    }
    .recipient_table_menu {
        margin-right: 64px;
    }

    .sender_table_menu {
        margin-right: 80px;
    }
}

