<table id="mail_table" ng-show="$ctrl.emails && !($ctrl.emails.length === 0)" class="desktop_table_mail">
    <tr class="mail_table_tr_menu">
        <th class="checkbox_mail_menu"><input type="checkbox" ng-model="$ctrl.checkedAll"/>
        <span class="highlight_all_mail_flag_checkbox" ng-click="$ctrl.checkAll()">
            <span ng-class="{highlight_all_mail_flag_checkbox_icon: $ctrl.checkedAll}"></span>
        </span>
        </th>
        <th class="sender_table_menu" ng-if="!$ctrl.outboxTable">Sender</th>
        <th class="sender_table_menu" ng-if="$ctrl.outboxTable">Recipient</th>
        <th class="text_table_menu"><div>Text</div>
        </th>
        <th class="date_table_menu">Date</th>
    </tr>
    <tr ng-repeat="email in $ctrl.emails| filter:$ctrl.filter" class="mail_table_tr mail_table_tr_box">
        <td class="checkbox_mail"><input type="checkbox" ng-model="email.checked"/>
            <span class="highlight_all_mail_flag_checkbox highlight_all_mail_flag_checkbox_with_bottom" ng-click="email.checked=!email.checked">
                <span ng-class="{highlight_all_mail_flag_checkbox_icon: email.checked}"></span>
            </span>
        </td>
        <td class="checkbox_mail" ng-click="$ctrl.changeSatusImportant(email.id, email.important)">
            <input type="checkbox" ng-model="email.important"/>
            <div class="important_mail_flag_checkbox_icon" ng-click="email.important=!email.important">
                <img ng-show="!email.important" src="resourses/icons/star.svg">
                <img ng-show="email.important" src="resourses/icons/star_active.svg">
            </div>
        </td>
        <td ng-if="!$ctrl.outboxTable">
            <span class="spender_email_circle">{{email.sender.charAt(0)}}</span>
        </td>
        <td class="sender_table" ng-if="!$ctrl.outboxTable">
            <span class="sender_table_sender cut_text" ng-class="{read_mail: email.read}">{{email.sender}}</span>
        </td>
        <td ng-if="$ctrl.outboxTable">
            <span class="spender_email_circle">{{email.recipient.charAt(0)}}</span>
        </td>
        <td class="sender_table" ng-if="$ctrl.outboxTable">
            <span class="sender_table_sender cut_text" ng-class="{read_mail: email.read}">{{email.recipient}}</span>
        </td>
        <td class="text_table" ui-sref="mail.open({mailId: email.id})">
            <span class="subject_table" ng-class="{read_mail: email.read, cut_text: email.cut}">{{email.subject}}</span><span class="text_table_cut cut_text">{{email.text}}</span>
        </td>
        <td class="date_table">{{email.dateTime | emailDateFilter}}</td>
    </tr>
</table>
<div class="bubblingG" ng-show="$ctrl.emails === undefined">
    <span id="bubblingG_1"></span>
    <span id="bubblingG_2"></span>
    <span id="bubblingG_3"></span>
</div>
<div id="mail_table_no_mail" ng-show="$ctrl.emails.length === 0">There are no mails</div>
<div id="mobile_table_mail">
    <div class="mobile_table" ng-repeat="email in $ctrl.emails">
        <div class="checkbox_mobile_table">
            <input type="checkbox" ng-model="email.checked"/>
            <span class="highlight_all_mail_flag_checkbox" ng-click="email.checked=!email.checked">
                <span ng-class="{highlight_all_mail_flag_checkbox_icon: email.checked}"></span>
            </span>
        </div>
        <div class="checkbox_mobile_table">
            <input type="checkbox" ng-model="email.important"/>
            <div class="important_mail_flag_checkbox_icon" ng-click="email.important=!email.important">
                <img ng-show="!email.important" src="resourses/icons/star.svg">
                <img ng-show="email.important" src="resourses/icons/star_active.svg">
            </div>
        </div>

        <div class="body_mobile_table" ui-sref="mail.open({mailId: email.id})">
            <div class="sender_data_mobile">
                <div ng-if="!$ctrl.outboxTable">
                    <div class="sender_mobile_table">{{email.sender}}</div>
                </div>
                <div ng-if="$ctrl.outboxTable">
                    <div class="sender_mobile_table">{{email.recipient}}</div>
                </div>
                <div class="date_mobile_table">{{email.dateTime | emailDateFilter}}</div>
            </div>
            <div>
                <div class="subject_mobile_table cut_text"><b>{{email.subject}}</b></div>
                <div class="text_mobile_table cut_text twitter-list">{{email.text}}</div>
            </div>
        </div>
    </div>
</div>
<div id="add_mails_table_mobile" ng-if="$ctrl.showMoreMobile">
    <input type="button" value="more" ng-click="$ctrl.addTable()"/>
</div>
















