<table id="mail_table" ng-show="$ctrl.emails">
    <tr>
        <td class="checkbox_mail"><input type="checkbox" ng-click="$ctrl.checkAll()" ng-model="$ctrl.checkedAll"/></td>
        <td class="sender_table">Sender</td>
        <td class="text_table"><span id="text_table">Text</span>
        </td>
        <td class="date_table">Date</td>
    </tr>
    <tr ng-repeat="email in $ctrl.emails" >
        <td class="checkbox_mail"><input type="checkbox" ng-model="email.checked"/></td>
        <td class="sender_table">
            <span id="spender_email_circle">{{email.sender.charAt(0)}}</span>
            <span>{{email.sender}}</span>
        </td>
        <td class="text_table">
            <span id="subject_table"><b>{{email.subject}}</b></span><span>{{email.text}}</span>
        </td>
        <td class="date_table">{{email.date}}</td>
    </tr>
    <div class="bubblingG" ng-show="!$ctrl.emails">
	<span id="bubblingG_1">
	</span>
    <span id="bubblingG_2">
	</span>
    <span id="bubblingG_3">
	</span>
</div>
</table>


















