h1, h2, h3, p, input, div, ul, li, a {
    font-family: Geneva;
    margin: 0px;
}

input, textarea{
    outline:none;
}

body {
    min-width: 320px;
    width: 100%;
}

a {
    cursor: pointer;
    border-bottom: 1px dotted #cdcccc;
    color: #bababa;
    text-decoration: none
}

.form_auth {
    width: 480px;
    margin: 20px auto;
    background-color: #fafafa;
    border-radius: 5px;
    padding: 0 20px;
}

@media (min-width: 320px) and (max-width: 767px) {
    .form_auth {
        width: 320px;
        margin: 20px auto;
    }
}

ul {
    list-style: none;
    padding: 0px;
    vertical-align:middle;
    margin: 0px;
}

#body_mail {
    width: 100%;
}

#mail_all {
    display: flex;
    align-items: flex-start;
    height: auto;
}

.mail_menu {
    display: flex;
    align-items: center;
    margin: 0px 10px;
}





