#bottom_mail {
    display: flex;
    justify-content: space-evenly;
    width: 97%;
    margin: 15px;
}

@media (min-width: 320px) and (max-width: 767px) {
    #bottom_mail {
        display: none;
    }
}

#value_mail_page {
    display: flex;
}

#change_page {
    display: flex;
    justify-content: space-evenly;
    width: 136px;
}

#value_mail_page input {
    border: none;
    width: 36px;
    border-bottom: 1px dotted #cdcccc;
    padding: 0px 10px;
}

#value_mail_page div {
    margin: 0px 10px 0px 0px;
}

#value_mail_page select {
    border: none;
    border-bottom: 1px dotted #cdcccc;
}















