<div id="bottom_mail">
    <div id="value_mail_page">
        <div>Show number of letters</div>
        <select ng-init="$ctrl.sele" ng-model="$ctrl.sele" ng-options="x for x in $ctrl.listMailPage" ng-change="$ctrl.getMailValMails()">
        </select>
    </div>
    <div id="change_page">
        <div ng-show="$ctrl.showArrowLast" ui-sref="mail.{{$ctrl.emailState}}({page: $ctrl.page-1})"><a><<</a></div>
        <div>
            <span>
                <span>{{$ctrl.firstMail}}</span>
                -
                <span>{{$ctrl.lastMail}}</span>
            </span>
            of
            <span>{{$ctrl.allCount}}</span>
        </div>
        <div ng-show="$ctrl.showArrowNext" ui-sref="mail.{{$ctrl.emailState}}({page: $ctrl.page+1})"><a>>></a></div>
    </div>
</div>