<div class="mail_menu">
    <div class="mail_menu_button">
        <img src="resourses/icons/reestablish_mail.svg">
        <div>reestablish</div>
    </div>
</div>
<mail-table-component emails="$ctrl.mailStorage.emails" count-mail-box="$ctrl.countMailBox" show-more-mobile="$ctrl.showMoreMobile">
</mail-table-component>
<bottom-mail-table-component page="$ctrl.page" ng-if="$ctrl.mailStorage.emails.length > 0" emails="$ctrl.mailStorage.emails" all-count="$ctrl.countMailBox">
</bottom-mail-table-component>
