<div class="mail_menu">
    <div class="mail_menu_button mail_menu_button_hide" ui-sref="mail.new">
        <img src="resourses/icons/new_mail.svg">
        <div>new mail</div>
    </div>
    <div class="mail_menu_button">
        <img src="resourses/icons/read_mail.svg">
        <div>mark as read</div>
    </div>
    <div class="mail_menu_button" ng-click="$ctrl.getAllCheck()">
        <img src="resourses/icons/deleted_mail.svg">
        <div>delete</div>
    </div>
</div>
<mail-table-component count-mail-box="$ctrl.allCount" show-more-mobile="$ctrl.showMoreMobile">
</mail-table-component>
<bottom-mail-table-component page="$ctrl.page" ng-if="$ctrl.mailStorage.emails.length > 0" emails="$ctrl.mailStorage.emails" all-count="$ctrl.allCount">
</bottom-mail-table-component>



